.ratetype
	padding: 18px
	border-bottom: 1px solid rgba(7, 17, 27, .1)
	.tit
		margin-bottom: 18px
		font-size: 16px
		font-weight: 700
	.type
		display: flex
		.all,.good,.bad
			flex: 0 0 auto
			padding: 6px 8px
			margin-right: 8px
			font-size: 12px
			color: rgb(77, 85, 93)
			background-color: #ccecf8
			border-radius: 2px
			.num
				font-size: 8px
				vertical-align: bottom
			&.active
				color: #fff
				background-color: #00a0dc
		.bad
			background-color: #e9ebec
			&.active
				color: #fff
				background-color: #93999f
	.onlycontent
		margin-top: 18px
		padding-top: 12px
		border-top: 1px solid rgba(7, 17, 27, .1)
		color: rgb(147, 153, 159)
		.icon-check_circle
			font-size: 24px	
			vertical-align: middle
			&.active
				color: #00c850
		.text
			font-size: 14px
			vertical-align: middle
			