@import '../../assets/stylus/mixin.styl'
.star
    text-align: center
    &.star48
        .star-icon
            display: inline-block
            width: 20px
            height: 20px
            margin-right: 20px
            background-repeat: no-repeat
            background-size: 20px 20px
        .on
            bg-img('img/star48_on') 
        .half
            bg-img('img/star48_half') 
        .off
            bg-img('img/star48_off') 
    &.star36
        .star-icon
            display: inline-block
            width: 14px
            height: 14px
            margin-right: 14px
            background-repeat: no-repeat
            background-size: 14px 14px
        .on
            bg-img('img/star36_on') 
        .half
            bg-img('img/star36_half') 
        .off
            bg-img('img/star36_off')
    &.star24
        .star-icon
            display: inline-block
            width: 10px
            height: 10px
            margin-right: 10px
            background-repeat: no-repeat
            background-size: 10px 10px
        .on
            bg-img('img/star24_on') 
        .half
            bg-img('img/star24_half') 
        .off
            bg-img('img/star24_off')