@import '../../assets/stylus/mixin.styl'
.support
    font-size: 10px
    .icon
        display: inline-block
        vertical-align: top
        background-repeat: no-repeat
    &.size-1       
        .decrease
            bg-img('img/decrease_1')
        .discount
            bg-img('img/discount_1')
        .guarantee
            bg-img('img/guarantee_1')
        .invoice
            bg-img('img/invoice_1')  
        .special
            bg-img('img/special_1')             
    &.size-2       
        .decrease
            bg-img('img/decrease_2')
        .discount
            bg-img('img/discount_2')
        .guarantee
            bg-img('img/guarantee_2')
        .invoice
            bg-img('img/invoice_2')  
        .special
            bg-img('img/special_2')
    &.size-3       
        .decrease
            bg-img('img/decrease_3')
        .discount
            bg-img('img/discount_3')
        .guarantee
            bg-img('img/guarantee_3')
        .invoice
            bg-img('img/invoice_3')  
        .special
            bg-img('img/special_3')
    &.size-4       
        .decrease
            bg-img('img/decrease_4')
        .discount
            bg-img('img/discount_4')
        .guarantee
            bg-img('img/guarantee_4')
        .invoice
            bg-img('img/invoice_4')  
        .special
            bg-img('img/special_4')